.logo{
	width: 100%;
}


.btn{
		
   		font-family: 'ZCOOL QingKe HuangYou', cursive;
		font-size: 100%;
		background-color:orange;
		font-color:White;
		
	}

#Intro{
		font-size: 200%;
		font-family: 'ZCOOL QingKe HuangYou', cursive;
		text-align: center;
		color: White;
		margin-top: 20%;
		/*margin-top: 21;
		margin-bottom: .5%;*/

}
.start-btn-center{
				background-image: url("/images/bg.jpg");
}




