body{
  /*background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/PDaTSuJ/plexus-abstract-network-titles-cinematic-background-37_szokzaw0_thumbnail-full01.png");*/
   background-image: url("/images/bg.jpg");
    zoom: 74.8%;
}

.logo{
  float: left;
  width: 10%;
  margin-left: 0%;
  height: 10%;
}

#banner{
   max-width: 110%;
   display: flex;
   margin-left: 0%;

}

.web{
  border-radius: 50%;
  width: 10%;
  margin-right: 3%;
  margin-left: 40%;
  margin-top: 1%
}

.art{
  border-radius: 50%;
  border: 10px solid;
  border-color: white;
  border-width: 10%;
  width: 9%;
}

ul{
  color: white;
  list-style: none;
  font-size:300%;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  margin-left: 60%;
  margin-bottom: 1%;
  margin-top: 0px;
}

li {
  display: inline-block ;
  margin-right: 4%;
  margin-bottom: 5%;
 }

 header{
    margin-top:0;
 }

 a {
  text-decoration: none;
  color: white; }
    a:visited { color: white; }
    a:hover { color: red; }​
}


