
#Intro{

		font-size:45px;
		font-family: 'ZCOOL QingKe HuangYou', cursive;
		text-align: center;
		color: White;
		

		display: flex;
		justify-content:center;
		align-items:center;

		margin-top: 400px;
		/*margin-top: 21%;*/
		margin-bottom: .5%;

}
.start-btn-center{
		background-image: url(master/bg3.jpg);
	}


.btn-primary{
		background-color:orange;
	}

#btn{	
	display: flex;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	justify-content: center;

}

.form{
	padding-left: 50%;

}

