
#Intro{

		font-size:45px;
		font-family: 'ZCOOL QingKe HuangYou', cursive;
		text-align: center;
		color: White;
		
		display: flex;
		justify-content:center;
		align-items:center;

		margin-top: 400px;
		/*margin-top: 21;*/
		margin-bottom: .5%;

}
.start-btn-center{
		background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/PDaTSuJ/plexus-abstract-network-titles-cinematic-background-37_szokzaw0_thumbnail-full01.png");
	}




#title{
	text-align: center;
	color: white;
	font-size: 50px;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}


#disc{
	text-align: center;
	color: white;
	font-size: 35px;
	font-family: 'ZCOOL QingKe HuangYou', cursive;

	
}

#list{
	list-style:none;
	text-align: center;
	color: white;
	font-size: 25px;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#goback	{
	margin-top: 1px;
	margin-left: 15px;
	color: white;
	font-size: 25px;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}

a{
	 color: white; }
  	a:visited { color: white; }
  	a:hover { color: red; }​
}