
#Intro{

		font-size:45px;
		font-family: 'ZCOOL QingKe HuangYou', cursive;
		text-align: center;
		color: White;
		

		display: flex;
		justify-content:center;
		align-items:center;

		margin-top: 400px;
		/*margin-top: 21;*/
		margin-bottom: .5%;

}
.start-btn-center{
		background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/PDaTSuJ/plexus-abstract-network-titles-cinematic-background-37_szokzaw0_thumbnail-full01.png");
	}


.btn-primary{
		font-family: 'ZCOOL QingKe HuangYou', cursive;
		font-size: 20px;
		background-color:orange;
		margin-left: 45%;
	}
.btn-Gallery{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	text-align: center;
	margin-top: 16.5%;
	margin-left: 9%;
	background-color:orange;
	color: white;

}

.btn-websamples{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	text-align: center;
	margin-top: 0.5%;
	margin-left: 28.5%;
	background-color:orange;
	color: white;

}

.btn-illustrations{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	text-align: center;
	margin-top: 2.5%;
	margin-left: 50%;
	background-color:orange;
	color: white;

}

#btn{	
	display: flex;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	justify-content: center;

}

.form{
	padding-left: 50%;

}

